<div>
    <h2 id="page-heading">
        <span jhiTranslate="vkaApp.vka.home.title">Vkas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vka-vka" [routerLink]="['/vka-vka/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="vkaApp.vka.home.createLabel">
            Create new Vka
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control"
                           [(ngModel)]="criteria.mkt1" id="mkt1Equals" name="mkt1Equals"
                           placeholder="{{ 'vkaApp.vka.mkt1' | translate }}">
                    <input type="text" class="form-control"
                           [(ngModel)]="criteria.vnr" id="vnrEquals" name="vnrEquals"
                           placeholder="{{ 'vkaApp.vka.vnr' | translate }}">
                     <div class="btn-group flex-btn-group-container">
                        <button (click)="search(criteria)"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button (click)="clear(criteria)" *ngIf="criteria.areSet()"
                            class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                 </div>
            </form>
        </div>
    </div>
    </br>
    <div class="table-responsive" *ngIf="vkas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vnr"><span jhiTranslate="vkaApp.vka.vnr">Vnr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="versArt"><span jhiTranslate="vkaApp.vka.versArt">Vers Art</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prioritaet"><span jhiTranslate="vkaApp.vka.prioritaet">Prioritaet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bearbDat"><span jhiTranslate="vkaApp.vka.bearbDat">Bearb Dat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bearbUhr"><span jhiTranslate="vkaApp.vka.bearbUhr">Bearb Uhr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="vkaApp.vka.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rd"><span jhiTranslate="vkaApp.vka.rd">Rd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ges"><span jhiTranslate="vkaApp.vka.ges">Ges</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bza"><span jhiTranslate="vkaApp.vka.bza">Bza</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tarif"><span jhiTranslate="vkaApp.vka.tarif">Tarif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tarifUnr1"><span jhiTranslate="vkaApp.vka.tarifUnr1">Tarif Unr 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tarifUnr2"><span jhiTranslate="vkaApp.vka.tarifUnr2">Tarif Unr 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mkt1"><span jhiTranslate="vkaApp.vka.mkt1">Mkt 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bewegSchl"><span jhiTranslate="vkaApp.vka.bewegSchl">Beweg Schl</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wirkungDat"><span jhiTranslate="vkaApp.vka.wirkungDat">Wirkung Dat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="antAufnDat"><span jhiTranslate="vkaApp.vka.antAufnDat">Ant Aufn Dat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="antEingDat"><span jhiTranslate="vkaApp.vka.antEingDat">Ant Eing Dat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anzahlStruk"><span jhiTranslate="vkaApp.vka.anzahlStruk">Anzahl Struk</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="btg"><span jhiTranslate="vkaApp.vka.btg">Btg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vka of vkas ;trackBy: trackId">
                <td><a [routerLink]="['/vka-vka', vka.id, 'view' ]">{{vka.id}}</a></td>
                <td>{{vka.vnr}}</td>
                <td>{{vka.versArt}}</td>
                <td>{{vka.prioritaet}}</td>
                <td>{{vka.bearbDat}}</td>
                <td>{{vka.bearbUhr}}</td>
                <td>{{vka.status}}</td>
                <td>{{vka.rd}}</td>
                <td>{{vka.ges}}</td>
                <td>{{vka.bza}}</td>
                <td>{{vka.tarif}}</td>
                <td>{{vka.tarifUnr1}}</td>
                <td>{{vka.tarifUnr2}}</td>
                <td>{{vka.mkt1}}</td>
                <td>{{vka.bewegSchl}}</td>
                <td>{{vka.wirkungDat}}</td>
                <td>{{vka.antAufnDat}}</td>
                <td>{{vka.antEingDat}}</td>
                <td>{{vka.anzahlStruk}}</td>
                <td>{{vka.btg}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vka-vka', vka.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vka-vka', vka.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vka-vka/'+ vka.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="vkas && vkas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
